* {
	font-family: Ubuntu;
	font-weight: 400;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	display: flex;
	overflow: hidden;
}

#top {
	width: 100%;
	margin: 0;
	padding: 0;
	box-shadow: 0px 2px 20px 0px black;
	z-index: 1;
	height: 60px;
	display: inline-block;
}

#top span {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: top;
	margin-top: 18.5px;
	margin-left: 20px;
}

#logo {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	height: 100%;
	margin-left: 5px;
	margin-top: 10px;
}

#bottom {
	background-color: #ffffff;
	width: 100%;
	height: 200px;
	box-shadow: 0px -2px 20px 0px black;
	z-index: 1;
}

#map {
	width: 100%;
	height: 100%;
}

#forecast {
	width: 100%;
	text-align: center;
	padding: 8px;
	height: 100%;
}

#forecast th {
	border-collapse: collapse;
	width: 20%;
}

.date {
	color: #7BAFD4;
}

.flexcontainer {
	display: flex;
	flex-direction: column;
}

text {
	color: #666;
}

input {
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: solid black 1px;
	text-align: center;
	color: #7BAFD4;
	font-size: 16;
}

#distance {
	width: 50px;
}

#location {
	width: 300px;
}

#destination {
	/*width: 400px;*/
}

#submit {
	border: none;
	color: #666;
	height: 32px;
	width: 32px;
	border-radius: 16px;
	padding: 1px;
	background-color: #dddddd;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	margin-top: 14px;
	margin-left: 5px;
}

table {
	border-collapse: collapse;
	z-index: 1;
}

#titlebar {
	width: 100%;
	background-color: #7BAFD4;
	color: #000;
	margin: 0;
	padding: 2px;
	text-align: center;
	/*box-shadow: inset 0px 0px 10px -2px black;*/
	box-shadow: 0px 0px 10px 0px black;
	height: 20px;
	vertical-align: center;
	z-index: 0;
}

#titlebar text {
	color: #fff;
}

#bottom {
	background-color: #fff;
}

th {
	padding-top: 10px;
}

#day {
	text-align: left;
}

.shadow {
	position: relative;
}

.shadow:after {
	box-shadow: inset 10px 0 25px -15px black;
	content: " ";
	height: 100%;
	position: absolute;
	top: 0;
	right: -15px;
	width: 15px;
}

.hidden {
	visibility: hidden;
}

#nearbyLocation {
	border-bottom: solid black 1px;
}

.icon {}

ul.tab {
	/* Style the list */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f1f1f1;
	width: 100%;
	background-color: #7BAFD4;
	color: #000;
	text-align: center;
	/*box-shadow: inset 0px 0px 10px -2px black;*/
	box-shadow: 0px 0px 10px 0px black;
	height: 25px;
	vertical-align: center;
	z-index: 0;
	padding: 0;
	margin: 0;
	vertical-align: center;
	text-align: center;
}

ul.tab li {
	/* Float the list items side by side */
	float: left;
}

ul.tab li a {
	/* Style the links inside the list items */
	display: inline-block;
	color: black;
	text-align: center;
	padding: 5px 7px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 15px;
}

ul.tab li a:hover {
	/* Change background color of links on hover */
	background-color: #ddd;
}

ul.tab li a:focus,
.active {
	/* Create an active/current tablink class */
	/*background-color: #ccc;*/
}

.tabcontent {
	/* Style the tab content */
	display: none;
	/*border: 1px solid #ccc;*/
	border-top: none;
	margin: 0;
	padding: 0;
}

#bottom {
	margin: 0;
	padding: 0;
}

#tabs {
	margin: 0;
	padding: 0;
}

#places {
	padding: 10px;
	height: 184px;
	width: 100%;
}

#placesTable td {
	padding: 10px;
	width: 12.5%;
}

#placesTable tbody td:hover {
	padding: 10px;
	background-color: rgba(221, 221, 221, .8);
}

.removeButton {
	border: none;
	background: none;
}

.removeButton:hover {
	border: none;
	background: none;
	background-color: #ccc;
}