html
  head
    title=title
    link(href='//fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="js/app/map.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpPIPOe68My_IpNeVYYew5zI68uEXNK3k&callback=initMap&libraries=places", async, defer)

  body.flexcontainer
    div#top
      div#logo
        img(src="/images/logo.png" alt="logo" height="40px" width="40px")
      
      span
        text Find a destination within  
        input(type='number', min='1' name='distance', value='1', id='distance') 
        text   miles of  
        input(type='text', name='location', value='place', id='location')
        text  
      
      input(type='submit', value='Go!', id='submit')

      span.hidden#destination
        text Your destination is &nbsp;
        text#nearbyLocation
    
    div#map

    div#bottom
      
        div#tabs
          ul.tab
            li
              a.tablinks(href='javascript:void(0)', onclick="openTab(event, 'weather')", id='weatherTab') Forecast
            li
              a.tablinks(href='javascript:void(0)', onclick="openTab(event, 'places')", id='placesTab') My Places
          #weather.tabContent
            table#forecast
              thead
                tr
                  th.date#day0date(colspan="2").shadow
                  th.date#day1date(colspan="2").shadow
                  th.date#day2date(colspan="2").shadow
                  th.date#day3date(colspan="2").shadow
                  th.date#day4date(colspan="2").shadow
              tbody
                tr
                  td.day#day0
                    text.temp 42°/23°
                    br
                    text.forecast Mostly sunny
                  td.icon.shadow#day0icon
                    img(src="/images/Weather/clear-day.png" alt="weathericon" height="50px" width="50px" id="#day0iconimg")
                  td.day#day1
                    text.temp 44°/25°
                    br
                    text.forecast Mostly sunny
                  td.icon.shadow#day1icon
                    img(src="/images/Weather/clear-day.png" alt="weathericon" height="50px" width="50px" id="#day1iconimg")
                  td.day#day2
                    text.temp 48°/40°
                    br
                    text.forecast Mostly sunny
                  td.icon.shadow#day2icon
                    img(src="/images/Weather/clear-day.png" alt="weathericon" height="50px" width="50px" id="#day2iconimg")
                  td.day#day3
                    text.temp 58°/31°
                    br
                    text.forecast Mostly sunny
                  td.icon.shadow#day3icon
                    img(src="/images/Weather/clear-day.png" alt="weathericon" height="50px" width="50px" id="#day3iconimg")
                  td.day#day4
                    text.temp 50°/33°
                    br
                    text.forecast Mostly sunny
                  td.icon.shadow#day4icon
                    img(src="/images/Weather/clear-day.png" alt="weathericon" height="50px" width="50px" id="#day4iconimg")
          #places.tabContent
            table#placesTable
              tbody#placesBody
        
    footer
    