html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap", async, defer)
		script(src="js/maps.js")
	body
		div#left.column.c1
			form
				h1 Find a Destination!
				text within 
				input(type='number', name='distance', value='0' style='width: 50px')
				text  miles
				br
				text of 
				input(type='text', name='location', value='')
				br
				input(type='submit', value='Go!')
		div#right.column.c2
			div#top
				div#bottom
				table#forecast
					td Forecast
					tr.day
					tr.day
					tr.day
					tr.day
					tr.day
		footer