html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		div#left.column.c1
			form
				h1 Find a Destination! test4
				input(type='number', name='distance', value='0' style='width: 50px')
				miles
				br
				of br
				input(type='text', name='location', value='')
				br
				input(type='submit', value='Go!')
		div#right.column.c2
			div#top
				div#bottom
				table#forecast
					td Forecast
					tr.day
					tr.day
					tr.day
					tr.day
					tr.day
		footer
