html
	head
		title = title
		link(rel='stylesheet', href='/css/style.css')
		
	body
		div#left.column.c1
			form
				h1 Find a Destination!
				text within 
				input(type='number', name='distance', value='0', style='width: 50px', id='distance')
				text  miles
				br
				text of 
				input(type='text', name='location', value='', id='location')
				br
				input(type='submit', value='Go!', id='submit')
		div#right.column.c2
			div#top
			div#bottom
				div#summary(style='height:5px')
					p Weather summary here
				table#forecast(style='display: inline-block; padding:8px;')
					caption(style='font-weight:bold') Forecast
					thead
						tr
							th.date#day1date
							th.date#day2date
							th.date#day3date
							th.date#day4date
							th.date#day5date
					tbody
						tr
							td.day#day1 test
							td.day#day2 test
							td.day#day3 test
							td.day#day4 test
							td.day#day5 test
				
		footer
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpPIPOe68My_IpNeVYYew5zI68uEXNK3k&callback=initMap", async, defer)
		script(src="js/maps.js")
